.quotes-container {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 150px;
  padding-top: 150px;
  // width: 100%;
  .testimonials-container {
    display: flex;
    justify-content: space-between;
    width: 68vw;
    .bgQuote{
      height: 50px;
      object-fit: contain;
      position: relative;
      left: 93px;
      bottom: 52px;
    }
    .testimonials {
      background-color: var(--testimonials);
      box-shadow: 20px 12px 8px hsla(214, 16%, 8%, 0.725);
      align-items: center;
      display: flex;
      justify-content: center;
      height: 250px;
      width: 30%;
      .testimonials-padding {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75%;
        width: 75%;
        // border: 2px solid red;
        .author {
          display: block;
        }
        img {
          display: inline-block;
          object-fit: cover;
          border-radius: 50%;
          width: 40px;
        }
      }
    }
  }
}
