@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;1,400&family=Raleway:wght@400;700&display=swap");
@media screen and (max-width: 600px) {
  main {
    // background: url("/public/Images/bg-curvy-desktop.svg");
    font-family: "Raleway", sans-serif;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 80%;
      object-fit: cover;
    }
    .allFiles-text {
      margin-top: 20px;
      font-weight: 400;
      text-align: center;
      width: 90%;
      h1 {
        font-size: 24px;
      }
      p {
        line-height: 1.8;
        margin: auto;
        margin-top: 20px;
      }
    }
    button {
      border: none;
      border-radius: 32px;
      color: white;
      padding: 16px 32px;
      text-align: center;
      margin: 20px 2px;
      // width: 140px;
      background: linear-gradient(
        to right,
        hsla(176, 68%, 64%, 0.815),
        hsla(176, 69%, 40%, 0.825)
      );
    }
    // .curvy-bg-img {
    //   object-fit: cover;
    //   background-position: center;
    //   background-repeat: no-repeat;
    //   position: relative;
    //   top: -350px;
    //   width: 100%;
    //   z-index: -99;
    // }
  }
}

@media screen and (min-width: 1440px) {
  main {
    font-family: "Raleway", sans-serif;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .curvy-image{
      position: absolute;
      top: 720px;
      width: 99vw;
      height: 500px;
      z-index: -99;
      .bg-curvy{
        width: 100%;
        height: 100%;
        z-index: -99;
      }
    }
    .allFiles-text {
      margin-top: 20px;
      font-weight: 400;
      text-align: center;
      width: 800px;
      h1 {
        font-size: 38px;
        font-weight: 800;
      }
      p {
        line-height: 1.8;
        font-size: 18px;
        margin: auto;
        margin-top: 20px;
        width: 520px;
      }
    }
    button {
      border: none;
      border-radius: 32px;
      color: white;
      padding: 16px 32px;
      text-align: center;
      margin: 20px 2px;
      width: 240px;
      background: linear-gradient(
        to right,
        hsl(186, 63%, 59%),
        rgba(38, 188, 178, 0.825)
      );
    }
  }
}
