#curvy {
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  // object-fit: cover;
  position: relative;
  top: -350px;
  height: 700px;
  width: 99vw;
  z-index: -99;
}
.features{
  background-color: hsl(218, 28%, 13%);
  height: 64%;
  top: 55%;
  // z-index: -99;
}